[submodule "anjab-abk-backend"]
	path = anjab-abk-backend
	url = ./anjab-abk-backend
[submodule "anjab-abk-mcp"]
	path = anjab-abk-mcp
	url = ./anjab-abk-mcp
[submodule "anjab-abk-web-app"]
	path = anjab-abk-web-app
	url = ./anjab-abk-web-app
