[submodule "anjab-abk-backend"]
	path = anjab-abk-backend
	url = https://github.com/cakrawala-tumbuh/anjab-abk-backend.git
[submodule "anjab-abk-mcp"]
	path = anjab-abk-mcp
	url = https://github.com/cakrawala-tumbuh/anjab-abk-mcp.git
[submodule "anjab-abk-web-app"]
	path = anjab-abk-web-app
	url = https://github.com/cakrawala-tumbuh/anjab-abk-web-app.git
[submodule "anjab-abk-ypii"]
	path = anjab-abk-ypii
	url = https://github.com/cakrawala-tumbuh/anjab-abk-ypii-docker-compose.git
